/*
 * Thanks to https://github.com/yannickcr/eslint-plugin-react
 * this repo help us to save time
 */
{
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "globals": {
    "require": true,
    "process": true
  },
  "env": {
    "jest/globals": true,
    "browser": true,
    "node": true,
    "es6": true
  },
  "plugins": ["react-hooks", "react", "jest"],
  "rules": {
    "react/prop-types": 0,
    "react/display-name": 0,
    "react/no-unescaped-entities": 0,
    "react/no-find-dom-node": 0 // TODO: Remove this and convert all findDOMNodes instances to refs.
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true,
      "jsx": true
    }
  },
  "overrides": [{
    "files": ["**/*.ts", "**/*.tsx", "**/*.jsx"],
    "parser": "@typescript-eslint/parser",
    "plugins": ["react-hooks", "react", "@typescript-eslint/eslint-plugin"],
    "extends": [
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
      "@typescript-eslint/no-unused-vars": "off"
    }
  }]
}