html {
  @apply text-base;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  @apply bg-blue-10;
  @apply text-primary;
  @apply min-h-screen;
  line-height: 1.3;
  font-weight: 200;
  font-family: "Inter", sans-serif;
  font-size: 14px;
}

#root {
  @apply flex;
  @apply min-h-screen;
}

a {
  @apply text-secondary;
}

a:hover {
  @apply text-pink-50;
  text-decoration: none;
}

::-webkit-input-placeholder {
  @apply text-gray-50;
}
::-moz-placeholder {
  @apply text-gray-50;
}
:-ms-input-placeholder {
  @apply text-gray-50;
}
:-moz-placeholder {
  @apply text-gray-50;
}

b {
  font-weight: bold;
}

i {
  font-style: italic;
}

code {
  @apply text-pink-50;
  @apply bg-white;
  @apply bg-opacity-10;
  @apply p-1;
  @apply rounded-sm;
}

.cm-theme-dark .cm-editor {
  background-color: rgba(0, 0, 0, 0.1);
  font-family: monospace;
}

.cm-theme-dark .cm-content .cm-activeLine {
  background-color: rgba(0, 0, 0, 0.1);
}
