@tailwind base;
@tailwind components;
@tailwind utilities;

.page-section {
  @apply bg-white;
  @apply rounded;
  @apply p-6;
  @apply flex-auto;
  max-width: calc(100vw - 1.5rem);
}

.content-placeholder {
  @apply inline-block;
  @apply bg-blue-20;
  @apply rounded;
}

.icon-bg {
  @apply inline-flex;
  @apply w-10;
  @apply h-10;
  @apply items-center;
  @apply justify-center;
  @apply rounded-full;
}

.MuiInputBase-multiline {
  @apply p-0;
}

.MuiFormLabel-root {
  font-size: 0.9rem;
  top: 2px;
}

.MuiInputBase-root {
  @apply text-sm;
  @apply h-full;
}

.MuiList-root {
  @apply bg-black;
  @apply text-gray-80;
  @apply rounded-none;
}

.MuiMenuItem-root:hover {
  @apply bg-blue-10;
}

.MuiFilledInput-underline:before {
  @apply border-gray-30;
}

.form-label .MuiFormControl-root {
  @apply bg-blue-10 h-full;
}

.form-label .MuiInputBase-root:before,
.no-border > .MuiInputBase-root:before {
  @apply border-transparent;
}

.MuiFormControl-root.transparent .MuiFilledInput-underline:before {
  @apply border-transparent;
}

.MuiInputBase-root:after {
  @apply border-gray-60;
}

.MuiSvgIcon-root {
  @apply text-gray-80;
}

fieldset.MuiOutlinedInput-notchedOutline {
  @apply border-gray-83;
}

div.MuiTableContainer-root {
  overflow-x: initial;
}

.MuiTableBody-root tr.MuiTableRow-root:last-child td,
.MuiTableBody-root tr.MuiTableRow-root:last-child th {
  border-bottom: none;
}

.MuiRadio-root {
  padding: 0;
  margin-right: 1rem;
}

.MuiInputBase-root.Mui-disabled {
  @apply bg-gray-80;
}

.MuiTypography-body1 {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
}

.MuiTooltip-tooltip:not(.custom-tooltip) {
  @apply bg-black;
  @apply text-sm;
  @apply p-4;
}

.MuiTooltip-tooltip:not(.custom-tooltip) .MuiTooltip-arrow {
  @apply text-black;
}

.MuiBackdrop-root {
  background: rgba(0, 0, 0, 0.75);
}

.MuiSwitch-track {
  @apply bg-white;
}

.min-h-12 {
  min-height: 3rem;
}

.cm-theme-dark .cm-editor {
  @apply bg-blue-10;
}

.cm-theme-dark .cm-content {
  @apply py-0;
}
